<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631527516844-au2kapdu3nm4s2eqkaqlds958etgelp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631527516844-au2kapdu3nm4s2eqkaqlds958etgelp3</string>
	<key>API_KEY</key>
	<string>AIzaSyDv2cPCynPFe2LyrI-JQ2IcQBNMfpzngQY</string>
	<key>GCM_SENDER_ID</key>
	<string>631527516844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspirelifestyles.ios.mobileconcierges</string>
	<key>PROJECT_ID</key>
	<string>gma-prod-3cc8e</string>
	<key>STORAGE_BUCKET</key>
	<string>gma-prod-3cc8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:631527516844:ios:ae8f7ff6d87082b0110d09</string>
</dict>
</plist>
